<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <h2>Scandit keys:</h2>
  <ul>
    <li *ngFor="let key of scanditKeys">{{key}}</li>
  </ul> -->

  <h1>Hotel Lister:</h1>
  <h2>{{HotelLister.title}}</h2>
  <ul>
    <li *ngFor="let hotel of hotels">{{hotel | json}}</li>
  </ul>

  <div id="result"></div>
  <div id="scanner"></div>
  <ion-button *ngIf="showSingleButton" class="button" mode="ios" (click)="startScanning()">Start Scanning</ion-button>
  <ion-button *ngIf="showSingleDoneButton" class="button" mode="ios" (click)="doneSingle()">Done</ion-button>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
