<ion-header>
  <ion-toolbar>
    <ion-title>
      Hotels
    </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="hotels.length; else noItems">
    <ion-item *ngFor="let hotel of hotels">
      <div class="hotel-entry">
        <h2>{{hotel.name}}</h2>
        <p>{{hotel.address}}</p>
        <h3 ion-text color="primary">{{hotel.phone}}</h3>
      </div>
    </ion-item>
  </ion-list>
  <ng-template #noItems>
    <h2>
      No Items
    </h2>
  </ng-template>
</ion-content>
